click==8.0.1
dotenv-config==0.1.4
Flask==2.0.1
Flask-BasicAuth==0.2.0
Flask-Debug==0.4.3
Flask-MySQL==1.5.2
inflection==0.5.1
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
PyMySQL==1.0.2
python-dotenv==0.19.0
Werkzeug==2.0.1
